<!-- <p>screen03 works!</p> -->
<div class="container-fluid">
    <table class="table-bordered">
        <thead class="bg-secondary">
            <tr>
                <td>S.No</td>
                <td>No.</td>
                <td>Time</td>
                <td>Date</td>
                <td>Text</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>2</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>3</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>4</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>5</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>6</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>7</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>8</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>9</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>10</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>11</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>12</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>13</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
            <tr>
                <td>14</td>
                <td>26</td>
                <td>6:35 PM</td>
                <td>9/15/2022</td>
                <td>DHO-1 FAN TRIP</td>
            </tr>
        </tbody>
    </table>
</div>
