<!-- <p>screen02 works!</p> -->
<div class="container-fluid">
    <table class="table-bordered">
        <thead class="text-center bg-secondary">
            <tr>
                <td>S.No</td>
                <td>Die No.</td>
                <td>Section No.</td>
                <td colspan="3">Die details.</td>
                <td colspan="3">Time</td>
            </tr>
        </thead>
        <thead class="text-center bg-secondary">
            <tr>
                <td colspan="3" class="special"></td>
                <!-- <td></td>
                <td></td> -->
                <td>PT</td>
                <td>Criticality</td>
                <td>Run</td>
                <td colspan="3" class="special"></td>
                <!-- <td></td>
                <td></td> -->
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>1</td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <!-- <td><input type="text" name="" id="" value="EMPTY"></td> -->
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><input type="button" name="" id="" value="IN" class="btn bg-secondary"></td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><input type="button" name="" id="" value="DOOR CLOSE" class="btn bg-secondary"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><input type="button" name="" id="" value="IN" class="btn bg-secondary"></td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><input type="button" name="" id="" value="DOOR OPEN" class="btn bg-secondary"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><input type="button" name="" id="" value="IN" class="btn bg-secondary"></td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><input type="button" name="" id="" value="START" class="btn bg-secondary"></td>
            </tr>
            <tr>
                <td>4</td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><select name="" id="">
                    <option value="sample">Sample1</option>
                    <option value="sample">Sample2</option>
                    <option value="sample">Sample3</option>
                </select></td>
                <td><input type="button" name="" id="" value="IN" class="btn bg-secondary"></td>
                <td><input type="text" name="" id="" value="EMPTY"></td>
                <td><input type="button" name="" id="" value="STOP" class="bg-danger btn"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="row col-6 text-center">
        <div class="col-6">
            <p>PV <span class="temperature cold">383</span> °C</p>
        </div>
        <div class="col-6">
            <p>PV <span class="temperature">1470</span> °C</p>
        </div>
        <p class="text-danger">Some text about legend and its values is given in this line</p>
    </div>
    
</div>