<!-- <p>screen01 works!</p> -->
<div class="container-fluid">
    <div class="row">
        <!-- Item 1 -->
        <div class="col">
            <h1 class="inactive">DHO-1</h1>
            <span class="round inactive">
                <i class="fa-solid fa-circle"></i>
            </span>
            <span class="circle"></span>
            <p>PV <span class="temperature">47</span> °C</p>
            <div class="row text-center inputs">
                <div class="col-6">
                    <input type="text" name="" id="" value="EMPTY">
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" value="EMPTY">
                </div>
            </div>
            <br>
            <div class="row text-center inputs">
                <div class="col-6">
                    <input type="text" name="" id="" value="EMPTY">
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" value="EMPTY">
                </div>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="col">
            <h1 class="active">DHO-2</h1>
            <span class="round">
                <i class="fa-solid fa-circle"></i>
            </span>
            <p>PV <span class="temperature">403</span> °C</p>
            <div class="row text-center inputs">
                <div class="col-6">
                    <input type="text" name="" id="" value="S321700001">
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" value="193800001">
                </div>
            </div>
            <br>
            <div class="row text-center inputs">
                <div class="col-6">
                    <input type="text" name="" id="" value="EMPTY">
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" value="EMPTY">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Item 3 -->
        <div class="col">
            <h1 class="active">DHO-3</h1>
            <span class="round">
                <i class="fa-solid fa-circle"></i>
            </span> 
            <!-- <span class="circle"></span> -->
            <!-- <i class="fa-solid fa-circle"></i> -->


            <p>PV <span class="temperature">383</span> °C</p>
            <div class="row text-center inputs">
                <div class="col-6">
                    <input type="text" name="" id="" value="EMPTY">
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" value="EMPTY">
                </div>
            </div>
            <br>
            <div class="row text-center inputs">
                <div class="col-6">
                    <input type="text" name="" id="" value="S321700001">
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" value="193800001">
                </div>
            </div>
        </div>
        <!-- Item 4 -->
        <div class="col">
            <h1 class="active">DHO-4</h1>
            <span class="round">
                <i class="fa-solid fa-circle"></i>
            </span>
            <p>PV <span class="temperature">470</span> °C</p>
            <div class="row text-center inputs">
                <div class="col-6">
                    <input type="text" name="" id="" value="S321700001">
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" value="193800001">
                </div>
            </div>
            <br>
            <div class="row text-center inputs">
                <div class="col-6">
                    <input type="text" name="" id="" value="193800001">
                </div>
                <div class="col-6">
                    <input type="text" name="" id="" value="S321700001">
                </div>
            </div>
        </div>
    </div>
    <!-- <nav>
        <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
        </ul>
    </nav> -->
</div>